<!-- モーダルダイアログ -->
<div class="modal" id="staticModal"
    tabindex="-1" role="dialog" aria-labelledby="staticModalLabel"
    aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog"><div class="modal-content">

    <div class="modal-header">
    <!--
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&#215;</span><span class="sr-only">閉じる</span></button>
    -->
        <h4 class="modal-title">モーダルだよ！</h4>
    </div>

    <div class="modal-body">
        <p id="text" class="recipient">もっく！</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-success">完了</button>
    </div>

    </div></div>
</div>