<!DOCTYPE html>
<html lang="ja">
<% include ejs/_head %>
<body>
  <div id="wrap"><div class="container">
    <% include ejs/_content %>
  </div></div>
  <% include ejs/_modal %>
  <% include ejs/_footer %>
  <script src="js/main.js"></script>
</body>
</html>